@import url("/styles/reset.css");
@import url("/styles/main-colors.css");
@import url("/styles/typography.css");


/* Main layout */
body {
    margin: 0;
}

#header {   
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 5vw 4vh 5vw; 
    padding: 3vh 0;  
}
#logo-container {    
    display: flex;
    align-items: center;
    justify-content: start;
}
#logo {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
}
#logo-full-text {
    align-self: center;
}
#logo-image {
    background-color: hsl(var(--light-blue));
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-right: .2em;
    color: hsl(var(--light-background));
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
/* MAIN MENU */

#main-menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#main-menu ul li {
    margin-left: 2em;
}
#main-menu ul li:last-child a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-menu ul li a:hover { 
    color: hsl(var(--mid-blue));
    text-decoration: underline 2px hsl(var(--mid-blue));
    text-underline-offset: 8px;
}
#main-menu ul li a:active { 
    color: hsl(var(--dark-blue));
    text-decoration: underline 2px hsl(var(--mid-blue));
    text-underline-offset: 8px;
}

#letter-container {
    margin: .3em .4em;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
#small-a {
    font-size: .7em;
}
#middle-a {
    font-size: .9em;
}
#large-a {
    font-size: 1.1em;
}
#night-a-container {
    height: 1.6em;
    width: 1.6em;
    border-radius: .5em;
    background-color: hsl(var(--dark-grey));
    font-size: 1.1em;
    color: hsl(var(--light-background));
    margin-left: .8em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
/* Mobile and Tablet Menu Button */
#show-pop-menu {
    display: flex;
    align-items: center;
}
#menu-icon {
    height: .8em;
    width: 1.2em;
    margin-left: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bar {
    height: .15em;
    width: 100%;
    border-radius: 2em;
    background-color: hsl(var(--mid-grey));
}
#show-menu:hover {
    color: hsl(var(--mid-blue));
}
/* POP MENU */
#pop-menu-container {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(var(--dark-blue));
    padding: 3vh 3vw;
}
#pop-menu-background {
    width: 100%;
    min-height: 94vh;
    background-color: hsl(var(--light-background));
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#go-back-container {
    height: 2em;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2vw;
    margin-bottom: 4vh;
}
#go-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#close-x {
    position: relative;
    margin-left: .6em;
    height: 1.6em;
    width: 1.6em;
}
.crossbar {
    position: absolute;
    transform-origin: center;
    top: calc(50% - .15em);
    height: .3em;
    width: 100%;
    border-radius: .06em;
    background-color: hsl(var(--svg-red));
}
#go-back:hover {
    transform: scale(1.04);
}
#crossbar-one {
    transform: rotate(45deg);
}
#crossbar-two {
    transform: rotate(-45deg);
}

#center-container {
    margin: 0 2vw;
    min-width: 50vw;
}
#pop-nav {
    margin-bottom: 3em;
}
#pop-nav ul li {
    margin-bottom: 1em;
}
#pop-nav ul li button:hover {
    color: hsl(var(--mid-blue));
    text-decoration: underline 2px hsl(var(--mid-blue));
    text-underline-offset: 8px;
}
#adjust-text-form fieldset {
    margin-top: 1em;
    padding: 2vh 0 4vh 0;
    border: none;
    border-bottom: 2px solid hsl(var(--svg-red));
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
}
#adjust-text-form input {
    height: 3.6rem;
    padding: 0 1rem;
    border-radius: .5rem;
}
#smaller {
    font-size: .8em;
}
#middle {
    font-size: 1em;
}
#larger {
    font-size: 1.6em
}


@media (max-width: 640px) {
    #menu-link {
        display: block;
    }
    #main-menu {
        display: none;
    }
}
@media (min-width: 641px) and (max-width: 1007px) {
    #adjust-text-form fieldset {
        flex-direction: row;
        align-items: center;
        gap: 1.6em;
    }
    #menu-link {
        display: block;
    }
    #main-menu {
        display: none;
    }

}
@media (min-width: 1008px) { 
    #adjust-text-form fieldset {
        flex-direction: row;
        align-items: center;
        gap: 4em;
    }
    #menu-link {
        display: none;
    }
    #main-menu {
        display: block;
    }
}




/* Styling of BUTTONS */
.call-to-action {
    margin: 2vh 0 10vh 0;
    padding: .3em .6em;
    border-radius: 3em;
    border: none;
    background-color: hsl(var(--svg-red));
    color: white;
    transition: all 0.3s ease-out;
    box-shadow: .6px 1.2px 1.2px hsla(var(--light-grey), var(--opac-eight));
}
.call-to-action:hover {
    box-shadow: 
        1px 2px 2px hsla(var(--dark-grey), var(--opac-two)),
        2px 4px 4px hsla(var(--dark-grey), var(--opac-two)),
        3px 6px 6px hsla(var(--dark-grey), var(--opac-two));
    background-color: hsl(var(--svg-redhighlight));
}

.no-style {
    border: none;
    background-color: inherit;
}
.black-white {
    background-color: inherit;
    font-size: inherit;
    min-height: 2em;
    border-radius: .5em;
    border-color: hsl(var(--mid-grey));
    transition: all 0.3s ease-out;
    box-shadow: .6px 1.2px 1.2px hsla(var(--light-grey), var(--opac-eight));
}
.black-white:hover,
.dark:hover,
.light:hover {
    transform: scale(1.04);
    box-shadow: 
        1px 2px 2px hsla(var(--dark-grey), var(--opac-two)),
        2px 4px 4px hsla(var(--dark-grey), var(--opac-two)),
        3px 6px 6px hsla(var(--dark-grey), var(--opac-two));
}
.dark,
.light {
    border: none;
    background-color: hsl(var(--dark-grey));
    color: hsl(var(--light-background));
}
