html {
    --dark-grey: #2C3133;
    --mid-grey: #474F51;
    --light-grey: #6B7476;
    --light-background: #FAFBFB;

    --dark-blue: #02445D;
    --mid-blue: #037DA5;
    --light-blue: #0890BA;
    --blue-background: #9DE5FB;

    --ligth-red: #F44720;
    --dark-red: #3C0601;

    --svg-red: #A72837;
    --svg-yellow: #FCC81D;
}

body {
    background-color: var(--light-background);
}

